.row{
  display: flex;
  flex-direction: row;
}
div{
    max-width: 300px;
    margin: 10px;
    flex-wrap: wrap;
}
button{
  margin: 5px;
  border-radius: 10px;
  padding: 5px;
}
/*formulário:*/
form{
  display:flex;
  flex-direction: column;
  background-color: green;
  width: 300px;
  color: green;
  align-items: center;
}
#fname{
  width: 200px;
}
#lname{
  width: 200px;
}
#submit{
  width: 90px;
}
